@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;700;900&display=swap' );

html{
  display: block;
}
head{
  display: none;
}
body{
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
}
.logo_area{
  height: 40px;
  background-color: #f2ae30;
}
.main_logo{
  position: relative;
  height: 20px;
  left: 2%;
  line-height: 50%;
}
/*wrap*/
.wrap{
  padding: 5%;
}
/*footer*/
.footer{
  height: 60px;
  background-color: #222425;
}
.b_text_first{
  text-decoration: none;
  color: #e4e8eb;
  float: left;
}
.b_text{
  text-decoration: none;
  color: #e4e8eb;
  float: left;
}
.info_footer{
  list-style: none;
}

.bottom_text_link ::before{
  content: "";
  display: inline-block;
  width: 1px;
  height: 11px;
  margin: 0 8px;
  background-color: #e4e8eb;
  vertical-align: -1px;
}